@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@200&family=Playfair+Display&display=swap');

$white:#fff;
$black:#000;
$purple:#7F5AF0;
$lightblack: #24242B;
$darkwhite:rgba(255, 255, 254, 0.4);

$caveat:'Caveat', cursive;
$nunito: 'Nunito', sans-serif;
$playfair: 'Playfair Display', serif;