@import '../../assests/css/App.scss';

.home-banner{
    position: relative;
    padding: 10% 0;
    color:$white;
    background-color: $black;
    margin-top: 55px;
    .banner-title{
        font-size: 32px;
        font-family: $caveat;
    }
    .banner-desc{
        width: 80%;
        font-size: 52px;
        font-family: $playfair;
    }
    .scroll-line{
        position: absolute;
        transform: rotate(90deg);
        bottom: 15px;
        right: 10px;
        text-transform: uppercase;
        font-size: 24px;
        font-family: $nunito;
        line-height: 0;

        &:after{
          position: absolute;
          content: '';
          height: 2px;
          width: 160px;
          background: $white;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          left: -175px;
        }
    }
    @media only screen and (max-width: 1540px) {
        .banner-title{
            font-size: 28px;
        }
        .banner-desc{
            width: 90%;
            font-size: 45px;
        }
        .scroll-line{
            font-size: 18px;
            &:after{
                width: 100px;
                left: -105px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 10% 5%;
        .banner-title{
            font-size: 24px;
        }
        .banner-desc{
            width: 90%;
            font-size: 40px;
        }
        .scroll-line{
            font-size: 16px;
        }
    }
    @media only screen and (max-width: 480px) {
        padding: 10% 5%;
        .banner-title{
            font-size: 22px;
        }
        .banner-desc{
            font-size: 35px;
        }
        .scroll-line{
            font-size: 14px;
        }
    }
}
.work-detail{
    background-color: $black;
    color: $white;
    padding: 5% 0;
    .work-heading{
        position: relative;
        padding-left:165px;
        font-size: 48px;
        font-family: $caveat;
        &:before{
            position: absolute;
            content: '';
            height: 2px;
            width: 160px;
            background: $white;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    .work-info{
        display: flex;
        flex-wrap: wrap;
        padding: 5% 0;
        .work-time{
            width: 40%;
            padding: 5% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.right{
                order:1;
            }
            .work-date{
                font-size: 72px;
                font-family: $playfair;
                color: $darkwhite;
            }
            .hr-line{
                height: 150px;
                width: 2px;
                background-color: $darkwhite;
            }
        }
        .work-description{
            background-color: $lightblack;
            width: 60%;
            border-radius: 10px;
            padding: 5%;
            .description-title{
                font-size: 48px;
                font-family: $playfair;
            }
            .description-link{
                a{
                    color: $purple;
                    font-size: 18px;
                    font-family: $nunito;
                }
            }
            .description-info{
                padding-top: 25px;
                font-size: 24px;
                font-family: $nunito;
            }
        }
    }
    @media only screen and (max-width: 1540px) {
        .work-heading{
            padding-left:105px;
            font-size: 43px;
            &:before{
                width: 100px;
            }
        }
        .work-info{
            .work-time{
                .work-date{
                    font-size: 62px;
                }
                .hr-line{
                    height: 100px;
                }
            }
            .work-description{
                .description-title{
                   font-size: 42px;
                }
                .description-link{
                    a{
                        font-size: 16px;
                    }
                }
                .description-info{
                    font-size: 20px;
                    line-height: normal;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 10% 5%;
        .work-heading{
            padding-left:105px;
            font-size: 38px;
            line-height: normal;
            margin: 0;
            &:before{
                width: 100px;
            }
        }
        .work-info{
            padding: unset;
            .work-time{
                width: 100%;
                &.right{
                    order:0;
                }
                .work-date{
                    font-size: 52px;
                }
                .hr-line{
                    height: 70px;
                }
            }
            .work-description{
                width: 100%;
                .description-title{
                    font-size: 38px;
                 }
                 .description-link{
                     a{
                         font-size: 16px;
                     }
                 }
                 .description-info{
                     font-size: 18px;
                     padding-top: 15px;
                 }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        .work-heading{
            padding-left:65px;
            font-size: 33px;
            &:before{
                width: 60px;
            }
        }
        .work-info{
            .work-time{
                .work-date{
                    font-size: 42px;
                }
                .hr-line{
                    height: 50px;
                }
            }
            .work-description{
                .description-title{
                    font-size: 34px;
                 }
            }
        }
    }
}